<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History_of_the_Internet_Fahed_Jad</title>
</head>
<body>
    <header>
        <h1>History of the Internet</h1>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/web-history">History of the Web</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <section>
            <h3>Introduction</h3>
                <article>
                    <p>The internet is the global infrastructure connecting a large number of computers and devices around the world.</p>
                </article>
        </section>

        <section>
            <h3>Key Milestones</h3>
            <ul>
                <article>
                    <p><li>1969 - ARPANET becomes operational: ARPANET connected its first four nodes in the United States. It demonstrated computer communication over a packet-switched network and became a major foundation of the Internet.</li></p>
                </article>
                <article>
                    <p><li>1973 - TCP/IP development begins: Robert Kahn and Vint Cerf began developing TCP/IP. It provided a way for different networks to communicate and created the basis for an interconnected network of networks.</li></p>
                </article>
                <article>
                    <p><li>1983 - ARPANET switches to TCP/IP: ARPANET adopted TCP/IP as its standard protocol suite. This allowed different networks to communicate using a common system and was an important step toward the modern Internet.</li></p>
                </article>
                <article>
                    <p><li>1986 - NSFNET is launched: The National Science Foundation launched NSFNET to connect universities and research centers. It became an important backbone for the growing Internet in the United States.</li></p>
                </article>
                <article>
                    <p><li>1990 - ARPANET is decommissioned: ARPANET was shut down as the larger Internet had grown beyond it, with TCP/IP becoming the dominant networking technology.</li></p>
                </article>
                <article>
                    <p><li>1995 - NSFNET backbone is decommissioned: The NSFNET backbone was shut down as private network providers expanded. This marked the transition toward a commercially operated Internet.</li></p>
                </article>
            </ul>
        </section>

        <section>
            <h3>3 Key Technologies</h3>
            <ol>
                <article>
                    <p><li>Packet Switching: Divides data into small packets that travel through a network and are reassembled at the destination. It was fundamental to ARPANET.</li></p>
                </article>
                <article>
                    <p><li>TCP\IP: A group of protocols that allows different networks to communicate. IP handles addressing and routing, while TCP helps provide reliable data delivery.</li></p>
                </article>
                <article>
                    <p><li>DNS (Domain Name System): Converts human-readable domain names into IP addresses, making Internet resources easier to access.</li></p>
                </article>
            </ol>
        </section>

        <section>
            <h3>Reliable Sources</h3>
            <ul>
                <li><a href="https://www.internetsociety.org/internet/history-internet/short-history-of-the-internet/">Short history of the Internet</a> - Internet Society</li>
                <li><a href="https://www.internetsociety.org/internet/history-internet/brief-history-internet-related-networks/">History of the Internet & Related Networks</a> - Internet Society</li>
                <li><a href="https://www.internetsociety.org/internet/history-internet/brief-history-internet/">A brief history of the Internet</a> - Internet Society</li>
                <li><a href="https://www.darpa.mil/news/features/arpanet">ARPANET</a> - DARPA</li>
                <li><a href="https://www.nsf.gov/impacts/internet">Birth of the Commercial Internet</a> - NSF-U.S National Science Foundation</li>
            </ul>
        </section>

    </main>
    <footer>
             <p>Web Programming — built with Flask and deployed on Render.</p>
             <p>This website is created for educational purposes only, as part of the GIN446 - Web Programming course, School of Engineering, USEK. (Fall 2026-2027)</p>
    </footer>
</body>
</html>