{% extends "base.html" %}

{% block title %}History of the Web{% endblock %}

{% block content %}
    <h1>History of the Web</h1>
        <section>
            <img src="{{url_for('static', filename='web.png')}}" alt="webLOGO" height="200" width="200"/>
            <img src="{{url_for('static', filename='web2.png')}}" alt="webLOGO_2" height="200" width="200"/>
            <h2>Introduction</h2>
                <p>The Web is a service that runs on top of the internet and it is a collection of digital pages stored on computers across the world and it can be accessed over the internet by using a browser.</p>
        </section>
        <section>
            <h2>Key Milestones</h2>
            <ul>
                <article>
                    <h3>1989 - The Web is proposed</h3>
                    <p>Tim Berners-Lee proposed a global hypertext system at CERN. This became the starting point for the World Wide Web.</p>
                    <p><a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/" target="_blank">Source: CERN - A Short History of the Web</a></p>
                </article>

                <article>
                    <h3>1990 - First Web browser and server</h3>
                    <p>Berners-Lee created the first Web browser/editor and Web server. The Web became a working system.</p>
                    <p><a href="https://home.cern/science/computing/the-birth-of-the-web/where-web-was-born/" target="_blank">Source: CERN - Where the Web Was Born</a></p>
                </article>

                <article>
                    <h3>1991 - Web becomes available beyond CERN</h3>
                    <p>The Web software was made available beyond CERN. Other researchers could begin using and developing the Web.</p>
                    <p><a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/" target="_blank">Source: CERN - A Short History of the Web</a></p>
                </article>

                <article>
                    <h3>1993 - Web enters the public domain</h3>
                    <p>CERN made the Web software available without licensing fees, helping the Web spread more widely.</p>
                    <p><a href="https://home.cern/science/computing/the-birth-of-the-web/where-web-was-born/" target="_blank">Source: CERN - Where the Web Was Born</a></p>
                </article>

                <article>
                    <h3>1993 - Mosaic browser released</h3>
                    <p>NCSA released the Mosaic browser. Its user-friendly design and support for images helped make the Web more popular.</p>
                    <p><a href="https://www.ncsa.illinois.edu/research/project-highlights/ncsa-mosaic/" target="_blank">Source: NCSA - NCSA Mosaic</a></p>
                </article>

                <article>
                    <h3>1994 - W3C is founded</h3>
                    <p>Tim Berners-Lee founded the World Wide Web Consortium (W3C). It helped develop common Web standards.</p>
                    <p><a href="https://www.w3.org/about/history/" target="_blank">Source: W3C - History</a></p>
                </article>

                <article>
                    <h3>1995 - JavaScript is introduced</h3>
                    <p>JavaScript was introduced in Netscape Navigator 2.0, adding scripting and interactive behavior to Web pages.</p>
                    <p><a href="https://developer.mozilla.org/en-US/docs/Glossary/JavaScript" target="_blank">Source: MDN - JavaScript History</a></p>
                </article>

                <article>
                    <h3>1996 - CSS1 becomes a Web standard</h3>
                    <p>CSS1 became a W3C Recommendation, providing a standard way to control the presentation and style of Web pages.</p>
                    <p><a href="https://www.w3.org/press-releases/1996/css1-rec/" target="_blank">Source: W3C - CSS1 Recommendation</a></p>
                </article>

                <article>
                    <h3>1997 - HTML 4.0 is released</h3>
                    <p>HTML 4.0 became a W3C Recommendation and introduced important improvements for structuring Web documents.</p>
                    <p><a href="https://www.w3.org/press-releases/1997/html40-rec/" target="_blank">Source: W3C - HTML 4.0 Recommendation</a></p>
                </article>

                <article>
                    <h3>2004 - Web 2.0 emerges</h3>
                    <p>The Web 2.0 concept gained attention through the Web 2.0 Conference, emphasizing the Web as a platform for participation and collaboration.</p>
                    <p><a href="https://www.oreilly.com/tim/bio" target="_blank">Source: O'Reilly Media - Tim O'Reilly Biography</a></p>
                </article>

                <article>
                    <h3>2008 - HTML5 development advances</h3>
                    <p>HTML5 development progressed through W3C work, providing new capabilities for modern Web applications.</p>
                    <p><a href="https://www.w3.org/standards/history/html5/" target="_blank">Source: W3C - HTML5 History</a></p>
                </article>

                <article>
                    <h3>2014 - HTML5 becomes a W3C Recommendation</h3>
                    <p>HTML5 became a W3C Recommendation, establishing a major standard for modern Web development.</p>
                    <p><a href="https://www.w3.org/standards/history/html5/" target="_blank">Source: W3C - HTML5 History</a></p>
                </article>

                <article>
                    <h3>2015 - The Web moves toward secure communication</h3>
                    <p>W3C promoted secure communication and encouraged the use of HTTPS instead of unencrypted HTTP.</p>
                    <p><a href="https://www.w3.org/blog/2015/securing-the-web/" target="_blank">Source: W3C - Securing the Web</a></p>
                </article>

                <article>
                    <h3>2017 - WebAssembly Working Group is formed</h3>
                    <p>The W3C WebAssembly Working Group was formed to standardize a fast and efficient execution environment for Web applications.</p>
                    <p><a href="https://www.w3.org/2017/08/wasm-charter" target="_blank">Source: W3C - WebAssembly Working Group Charter</a></p>
                </article>

                <article>
                    <h3>2019 - WebAssembly 1.0 becomes a W3C Recommendation</h3>
                    <p>WebAssembly 1.0 became a W3C Recommendation, providing a standard way to run high-performance code on the Web.</p>
                    <p><a href="https://www.w3.org/TR/wasm-core-1/" target="_blank">Source: W3C - WebAssembly Core Specification</a></p>
                </article>

                <article>
                    <h3>2021 - WebRTC becomes a W3C Recommendation</h3>
                    <p>WebRTC became a W3C Recommendation, standardizing real-time communication features such as audio, video, and data exchange in Web applications.</p>
                    <p><a href="https://www.w3.org/standards/history/webrtc/" target="_blank">Source: W3C - WebRTC History</a></p>
                </article>

                <article>
                    <h3>2026 - HTML continues as a Living Standard</h3>
                    <p>HTML continues to evolve as a Living Standard maintained by the WHATWG, allowing the Web platform to develop continuously.</p>
                    <p><a href="https://html.spec.whatwg.org/" target="_blank">Source: WHATWG - HTML Living Standard</a></p>
                </article>
             </ul>
        </section>
        <section>
            <h2>3 Key Technologies</h2>
            <ol>
                <article>
                    <li><h3>HTML (Hypertext Markup Language):</h3> A language used to structure Web pages and create links between information.</li>
                </article>
                <article>
                    <li><h3>HTTP (Hypertext Transfer Protocol):</h3> A protocol that allows Web browsers and servers to communicate and exchange Web resources.</li>
                </article>
                <article>
                    <li><h3>URL (Uniform Resource Locator):</h3> An address used to identify and locate resources on the Web.</li>
                </article>
            </ol>
        </section>
        <section>
            <h2>Reliable Sources</h2>
            <ul>
                <li><a href="https://home.cern/science/computing/the-birth-of-the-web/short-history-web/">A Short History of the Web - CERN</a></li>
                <li><a href="https://home.cern/science/computing/the-birth-of-the-web/where-web-was-born/">Where the Web Was Born - CERN</a></li>
                <li><a href="https://timeline.web.cern.ch/cern-puts-world-wide-web-public-domain">Web Timeline: CERN puts the World Wide Web into the public domain - CERN</a></li>
                <li><a href="https://www.w3.org/about/history/">History - W3C</a></li>
                <li><a href="https://www.ncsa.illinois.edu/about/history/">History - NCSA / University of Illinois</a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Introduction">MDN - JavaScript</a></li>
                <li><a href="https://www.w3.org/press-releases/1996/css1-rec/">W3C - CSS1 Recommendation</a></li>
                <li><a href="https://www.w3.org/press-releases/1997/html40-rec/">W3C - HTML 4.0 Recommendation</a></li>
                <li><a href="https://www.oreilly.com/pub/a/web2/archive/what-is-web-20.html">O'Reilly - What Is Web 2.0</a></li>
                <li><a href="https://www.w3.org/standards/history/html5/">W3C - HTML5 Publication History</a></li>
                <li><a href="https://www.w3.org/2015/11/secure-web/">W3C - Securing the Web</a></li>
                <li><a href="https://www.w3.org/2017/08/wasm-charter">W3C - WebAssembly Working Group</a></li>
                <li><a href="https://www.w3.org/TR/wasm-core-1/">W3C - WebAssembly Core Specification</a></li>
                <li><a href="https://www.w3.org/standards/history/webrtc/">W3C - WebRTC Publication History</a></li>
                <li><a href="https://html.spec.whatwg.org/">WHATWG - HTML Living Standard</a></li>
            </ul>
        </section>
 
    {% endblock %}